
@use './variabiles.scss' as *;

body{
  font-family: 'Cabin Condensed', sans-serif;
  color: $black;
  background-color: $background;
}

.container{
  max-width: $container-width;
}

.font{
  font-family: 'Vidaloka', sans-serif;

}